{% extends 'base.html' %}

{% block title %}
  {{ group.title }}
{% endblock %}

{% block content %}
  <h1>{{ group.title }}</h1>
  <p>{{ group.description|linebreaks }}</p>
  {% for post in page_obj %}
    <ul>
      <li>
        Автор:
        <a
          href="{% url 'posts:profile' post.author.username %}"
          >{{ post.author.get_full_name }}</a>
      </li>
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post.text|linebreaks }}</p>
    <p>
      <a 
        href="{% url 'posts:post_detail' post.pk %}"
        >Подробнее о посте</a>
    </p>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include '../includes/paginator.html' %}
{% endblock %}
